$myFont: Arial, sans-serif;
$myColor: rgb(165, 56, 56);
$bgColor: #ebebeb;
$width: 100%;
$value: 10px;

html {
background: $bgColor;
margin: 0;
}

#template_modtager {

};


.textbox {
background:$myColor;
color: white;
padding: 20px;
border: 1px solid  black;
h1{
  font-family: $myFont;
  font-size: 1.2em;
  color: grey;
}
h2{
  font-family: $myFont;
  font-size: 1.2em;
  color: grey;
}
}

a {
  text-decoration: none;
  text-decoration-line: none;
}

.first{
  color: #fff;
}

.last{
  color: #fff;
}

.message {
  color: #fff;
}

.full{
  background: rgb(59, 59, 59);
  display: none;
  color: #fff;
  padding: 20px;
}

.butt{
  border-style: none;
  background: rgb(49, 49, 49);
  width: 200px;
  height: 50px;
  border-radius: 100px;
  color: #fff;
  font-family: $myFont;
  cursor: pointer;
  &:hover{
    background: white;
    transition: .8s;
    color: rgb(49, 49, 49);
  }
}


#date {
  display: flex;
  justify-content: center;
  align-content: space-between;
  h2{
    font-family: Arial, sans-serif;
  }
}

.i1{
  background: #d11d05;
  font-family: $myFont;
  text-align: center;
}

.i2{
  background: #fa7a55;
  font-family: $myFont;
  text-align: center;
}

.i3{
  background: #fb1;
  font-family: $myFont;
  text-align: center;
}

.i4{
  background: #bada55;
  font-family: $myFont;
  text-align: center;
}

@media only screen and (min-width: 72em) {
  body {
    margin: 0 auto;
  }
}